<p>
    <b>Name:</b><span>@Contact.FirstName @Contact.LastName</span><br/>
    @if (DisplayEmail)
    {
        <b>Email:</b><span>@Contact.Email</span><br/>
    }

    @if (displayInfo)
    {
        <span>@Contact.Info</span>
    }
    <br/>
    <button onclick="@(() => { displayInfo = !displayInfo;})">Show/Hide Info</button>
    <button @onclick="@(() => DeleteCurrentContact.InvokeAsync(Contact))">Delete</button>
</p>


@code {
  
    [Parameter]
    public Contact Contact { get; set; }
    [Parameter]
    public bool DisplayEmail { get; set; }

    [Parameter] 
    public EventCallback<Contact> DeleteCurrentContact { get; set; }
    public bool displayInfo = false;
}
